### Standard imports

In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [102]:
df1 = pd.read_csv("../../data1.csv",index_col=['grp'])
df1

     val
grp
a      1
b      2
c      4
d      6
e      7
a      3
b      5
c      8

In [103]:
df2 = pd.read_csv("../../data2.csv",index_col=['grp'])
df2

     val
grp
a      3
b      1
c      9
g      6
h      9
i      6

In [107]:
df1.join(df2,lsuffix='L',rsuffix='R',how='outer')

     valL  valR
grp
a     1.0   3.0
a     3.0   3.0
b     2.0   1.0
b     5.0   1.0
c     4.0   9.0
c     8.0   9.0
d     6.0   NaN
e     7.0   NaN
g     NaN   6.0
h     NaN   9.0
i     NaN   6.0

In [110]:
dr = pd.date_range(start='18930101',end='20141231')

In [111]:
dr

DatetimeIndex(['1893-01-01', '1893-01-02', '1893-01-03', '1893-01-04',
               '1893-01-05', '1893-01-06', '1893-01-07', '1893-01-08',
               '1893-01-09', '1893-01-10',
               ...
               '2014-12-22', '2014-12-23', '2014-12-24', '2014-12-25',
               '2014-12-26', '2014-12-27', '2014-12-28', '2014-12-29',
               '2014-12-30', '2014-12-31'],
              dtype='datetime64[ns]', length=44559, freq='D')