# Read xml data

In this exercise we'll explore the mechanism for working with xml data

xml is a subset of sgml (Standard Generalized Markup Language).  

Many important applications such as html are sgml applications.

xml was designed to be easier to parse than sgml

In [8]:
import numpy as np
import scipy as sc
import pandas as pd
import matplotlib as mp
import xml.etree.ElementTree as ET
%matplotlib inline

## Open the tcx file

The data in the file is formatted as xml

In [80]:
f = open('../workout_run_02_23_2017V2.tcx','r')

## Read the contents of the tcx file and print its type

In [81]:
xml = f.read()
type(xml)

str

In [82]:
xml[0:1000]

'<?xml version="1.0" encoding="utf-8" standalone="no"?><TrainingCenterDatabase><Activities><Activity Sport="Running"><Id>2017-02-23T16:44:06Z</Id><Lap StartTime="2017-02-23T16:44:06Z"><TotalTimeSeconds>3390.000000</TotalTimeSeconds><DistanceMeters>6573.597796</DistanceMeters><Calories>781</Calories><AverageHeartRateBpm><Value>142</Value></AverageHeartRateBpm><MaximumHeartRateBpm><Value>175</Value></MaximumHeartRateBpm><Intensity>Active</Intensity><TriggerMethod>Manual</TriggerMethod><Track><Trackpoint><Time>2017-02-23T16:44:07Z</Time><Position><LatitudeDegrees>41.650381</LatitudeDegrees><LongitudeDegrees>-71.470925</LongitudeDegrees></Position><AltitudeMeters>-10.000000</AltitudeMeters><DistanceMeters>4.318020</DistanceMeters><HeartRateBpm><Value>95</Value></HeartRateBpm></Trackpoint><Trackpoint><Time>2017-02-23T16:44:10Z</Time><Position><LatitudeDegrees>41.650411</LatitudeDegrees><LongitudeDegrees>-71.470940</LongitudeDegrees></Position><AltitudeMeters>-10.000000</AltitudeMeters><Dista'

## Pass the string to the ElementTree xml parser

In [83]:
root = ET.fromstring(xml) 
type(root)

xml.etree.ElementTree.Element

In [142]:
ddict={}

ddict['time']  = []
ddict['ltime'] = []
ddict['alt']   = []
ddict['dm']    = []
ddict['hrate'] = []

## Walking through the element tree

In [143]:
for acts in root.findall('Activities'):      #start with Activities element
    for act in acts.findall('Activity'):     #step down to Activity element
        sport = act.attrib['Sport']          #pick up the Sport attribute
        for lap in act.findall('Lap'):       #step down to Lap element
            lastime = lap.attrib['StartTime']
            print(lapstart)
            for track in lap.findall('Track'):
                trackpoints=0
                for tp in track.findall('Trackpoint'):
                    ctime = None
                    for tim in tp.findall('Time'):
                        ctime = tim.text
                    alt = None
                    for am in tp.findall('AltitudeMeters'):
                        alt = am.text
                    dm = None
                    for dm in tp.findall('DistanceMeters'):
                        dist = dm.text
                    hrate = None
                    for hr in tp.find('HeartRateBpm'):
                        hrate = hr.text
                    ddict['time'].append(ctime)
                    ddict['ltime'].append(lastime)
                    ddict['alt'].append(alt)
                    ddict['dm'].append(dist)
                    ddict['hrate'].append(hrate)
                    lastime=ctime
                    trackpoints=trackpoints+1
                    
                print("Trackpoints: ",trackpoints)

2017-02-23T16:44:06Z
Trackpoints:  1130

In [144]:
tcxdf = pd.DataFrame(ddict)
tcxdf.head(20)

           alt         dm hrate                 ltime                  time
0   -10.000000   4.318020    95  2017-02-23T16:44:06Z  2017-02-23T16:44:07Z
1   -10.000000   7.967646    95  2017-02-23T16:44:07Z  2017-02-23T16:44:10Z
2   -10.000000  13.841665    93  2017-02-23T16:44:10Z  2017-02-23T16:44:13Z
3   -10.000000  18.138377    95  2017-02-23T16:44:13Z  2017-02-23T16:44:16Z
4   -10.999999  23.326178    94  2017-02-23T16:44:16Z  2017-02-23T16:44:19Z
5   -10.999999  28.651742    95  2017-02-23T16:44:19Z  2017-02-23T16:44:22Z
6   -10.999999  31.961797    97  2017-02-23T16:44:22Z  2017-02-23T16:44:25Z
7   -10.999999  36.597517    96  2017-02-23T16:44:25Z  2017-02-23T16:44:28Z
8   -10.999999  39.879979    97  2017-02-23T16:44:28Z  2017-02-23T16:44:31Z
9   -10.000000  44.702739    93  2017-02-23T16:44:31Z  2017-02-23T16:44:34Z
10   -9.000000  50.103235    93  2017-02-23T16:44:34Z  2017-02-23T16:44:37Z
11   -9.000000  56.302337    93  2017-02-23T16:44:37Z  2017-02-23T16:44:40Z
12   -9.000000  61.310567    95  2017-02-23T16:44:40Z  2017-02-23T16:44:43Z
13   -9.000000  66.039114    95  2017-02-23T16:44:43Z  2017-02-23T16:44:46Z
14   -5.000000  70.332689    96  2017-02-23T16:44:46Z  2017-02-23T16:44:49Z
15   -4.000000  75.182811    95  2017-02-23T16:44:49Z  2017-02-23T16:44:52Z
16   -4.000000  80.384922    95  2017-02-23T16:44:52Z  2017-02-23T16:44:55Z
17   -6.000000  84.281828    96  2017-02-23T16:44:55Z  2017-02-23T16:44:58Z
18   -4.000000  88.405997    98  2017-02-23T16:44:58Z  2017-02-23T16:45:01Z
19   -4.000000  93.150047   101  2017-02-23T16:45:01Z  2017-02-23T16:45:04Z